<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>639315577374-ck6nbffheqdlvstagrjmsrf3ug15gik9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639315577374-ck6nbffheqdlvstagrjmsrf3ug15gik9</string>
	<key>API_KEY</key>
	<string>AIzaSyCDfni6_-LH02p7KujW9Q7v4hiK-043STk</string>
	<key>GCM_SENDER_ID</key>
	<string>639315577374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daxapps.CrawfordAddictionTreatmentLLC</string>
	<key>PROJECT_ID</key>
	<string>crawfordaddictiontreatmentllc</string>
	<key>STORAGE_BUCKET</key>
	<string>crawfordaddictiontreatmentllc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:639315577374:ios:8d71b10e7d8cdcef</string>
	<key>DATABASE_URL</key>
	<string>https://crawfordaddictiontreatmentllc.firebaseio.com</string>
</dict>
</plist>